body {
    background-color: #ff61dd;
    color: rgb(255, 255, 255);
    width: 500px;
    margin-right: auto;
    margin-left : auto;
}
button {
    padding: 5px 20px;
    background-color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
    border-style: none;
}
input {
    height: 20px;
} 
